<div class="row no-gutters">
  <div class="col-sm-12" >
    <div class="mask">
      <div class="row">
        <div class="col-xl-2"></div>
        <div class="col-sm-12 col-xl-8 p-5">

          <div class="jumbotron">
            <h1 class="display-4">MINIONKI</h1>
            <p class="lead">
              Żółte stworki są małymi zmutowanymi bananami, żyją na ziemi od niepamiętnych czasów.
              </p>
            <hr class="my-4">
            <p>Uwielbiają banany.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button" [routerLink]="['/products']">Zobacz więcej</a>
          </div>
          <div class="col-xl-2"></div>


        </div>
      </div>
    </div>
      <video src="assets/Minions BubbleGum.mp4"
             [autoplay]="true" [muted]="true" [loop]="true" playsinline >
      </video>
  </div>
</div>

