<div class="row no-gutters">
  <div class="col-sm-12" >
    <div class="mask">
      <div class="row">
        <div class="col-xl-2"></div>
        <div class="col-sm-12 col-xl-8 p-5">

          <div class="jumbotron">
            <h1 class="display-4">MINIONKI</h1>
            <p class="lead">
              Żółte stworki są małymi zmutowanymi bananami, żyją na ziemi od niepamiętnych czasów.
              </p>
            <hr class="my-4">
            <p>Uwielbiają banany.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button" [routerLink]="['/products']">Zobacz więcej</a>
          </div>
          <div class="col-xl-2"></div>


        </div>
      </div>
    </div>
      <video src="https://r4---sn-2va3vhuxa-f5fs.googlevideo.com/videoplayback?expire=1590035138&ei=Yq7FXsuTHJKDsfIPs9iDgAY&ip=167.88.113.210&id=o-AExDF7qaEy9UORhxaCp_vXiqMVcdCTq57rQ3NesyXOHa&itag=18&source=youtube&requiressl=yes&vprv=1&mime=video%2Fmp4&gir=yes&clen=457629&ratebypass=yes&dur=10.100&lmt=1547693234810560&fvip=4&beids=9466588&c=WEB&txp=5531432&sparams=expire%2Cei%2Cip%2Cid%2Citag%2Csource%2Crequiressl%2Cvprv%2Cmime%2Cgir%2Cclen%2Cratebypass%2Cdur%2Clmt&sig=AOq0QJ8wRQIgfZVHQSjZ_Vmos0-Q28zHWLnPf6swHXtxU0iV-tAsC8wCIQCLb1Ur57TSJ6JY9yNKF20P8jEyjZzTXk-RaX499sxEPg%3D%3D&title=Minions+%7C+Bubble+Gum&cms_redirect=yes&mh=aS&mip=37.249.155.193&mm=31&mn=sn-2va3vhuxa-f5fs&ms=au&mt=1590013476&mv=m&mvi=3&pl=15&lsparams=mh,mip,mm,mn,ms,mv,mvi,pl&lsig=AG3C_xAwRgIhAOIaquxkbXxsQwMvkjIuJZwS1f6MWHnS5NhBo0SOAEfdAiEA9tglVi9KblnjTHGUihbydeeTVsdPcJlu3adwuQzJMfk%3D"
             [autoplay]="true" [muted]="true" [loop]="true" playsinline >
      </video>
  </div>
</div>

