<div class="row no-gutters" id="productpage">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header h3">
        DAVE
      </div>
      <div class="card-body">
        Najlepiej znany ze sługusów. Minionek dwuoczny. Najczęściej z wszystkich sługusów razem ze Stuartem jest pomocnikiem Gru w misjach. Dave jest inteligentnym stworem, który jest miły, opiekuńczy i zabawny, ale czasami podatny na wypadki.
      </div>
      <img height= 40% src="assets/dave.png">
    </div>
    <div class="card" id="bluetoo">
      <div class="card-header h3">
        STUART
      </div>
      <div class="card-body">
        Niski minionek, mający jedno oko. Najbardziej szczery i niewinny ze wszystkich minionków. Wydaje się również, że ma buntownicze i uparte podejście. Uważany jest za leniwego pośród innych minionków, woli odpoczywać i grać na ukulele niż przestrzegać zasad.
      </div>
      <img height= 40% src="assets/stuart.png">
    </div>

  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header h3">
        KEVIN
      </div>
      <div class="card-body">
        Kevin jest wysokim, dwu-okim stworem o zarośniętych włosach i zwykle widuje się go w stroju do golfa. Kevin uwielbia żartować i drażnić się z ludźmi lub innymi minionkami. Uwielbia grać w golfa i krykieta.
      </div>
      <img height= 40% src="assets/kevin.png">
    </div>
    <div class="card">
      <div class="card-header h3">
        BOB
      </div>
      <div class="card-body">
        Bob jest minionkiem, który jest bardziej dziecinny i niedojrzały niż większość innych minionków. Jest opisywany jako „Mały Brat”, który znajduje miłość we wszystkich i wszystkim. Bob jest niskim i łysym stworem o wielobarwnych oczach (zielonym i brązowym). Często nosi przy sobie pluszowego misia o imieniu Tim, brązowego z żółtymi guzikami.
      </div>
      <img height= 40% src="assets/bob.png">

    </div>

  </div>
</div>
